/* Form */

form {
    padding: 15px;
    margin: 0;
    overflow: hidden;
    color: black;
}

form .inputBack {
    padding: 5px;
    margin: 0;
    background-color: #eee
}

form .textInput, form select, form textarea {
    width: 100%;
    font-size: 1.2em;
    border: none;
    background-color: transparent;
}

form .textGrid {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1.8em auto auto auto auto auto auto 1.8em;
}

.textGrid > div, .textGrid > p {
    grid-column: 2 / span 6;
}

.textGrid .halfCellL {
    grid-column: 2 / span 3;
}

.textGrid .halfCellR {
    grid-column: 5 / span 3;
}

.textGrid .twoThirdCellL {
    grid-column: 2 / span 4;
}

.textGrid .thirdCellL {
    grid-column: 2 / span 2;
}

.textGrid .thirdCellC {
    grid-column: 4 / span 2;
}

.textGrid .thirdCellR {
    grid-column: 6 / span 2;
}

.textGrid .rowButton {
    grid-column: 8 / span 1;
    cursor: pointer;
    font-size: 1.8em;
    color: #444;
}

form .checkboxGrid {
    display: grid;
    grid-template-columns: auto auto;
}

form .checkboxGrid .inputContainer {
    grid-column: 1 / span 1;
    text-align: right;
}

.checkboxGrid .inputContainer input{
    width: 15px;
    height: 15px;
    margin: 10px;
}

form .checkboxGrid .textContainer{
    grid-column: 2 / span 1;
    vertical-align: middle;
}

form .checkboxGrid .textContainer p {
    margin-top: 10px;
    margin-bottom: 0;
}

form .smallNote {
    font-size: 0.8em;
    margin: 0 !important;
    text-align: center !important;
}

.captchaContainer, .submitButton {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.g-recaptcha{
    display: inline-block;
}

.submitButton input{
    font-size: 1.2em;
    padding: 5px;
    cursor: pointer;
}

.page .section form hr{
	width: 100%;
	border: 1px solid darkgray;
    text-align: center;
	margin: 10px auto !important;
    grid-column: 2 / span 6;    
}

.page .section form .textGrid hr{
	border: 1px dashed #eee;
}

form .nSection{
	margin: 0;
}

/*Tablet*/
@media only screen and (max-width: 1000px) {    
    .checkboxGrid .inputContainer input{
        width: 40px;
        height: 40px;
        margin: 20px;
    }
    
    form .checkboxGrid .textContainer p {
        margin-top: 20px;
    }
    
    .submitButton input{
        padding: 15px;
    }
}