/* Form */

form {
    padding: 15px;
    margin: 0;
    overflow: hidden;
    color: black;
}

form .inputBack {
    padding: 5px;
    margin: 0;
    background-color: #eee
}

form .textInput, form select, form textarea {
    width: 100%;
    font-size: 1.2em;
    border: none;
    background-color: transparent;
}

form .textGrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto 1.8em;
}

.textGrid > div {
    grid-column: 1 / span 3;
}

.textGrid .halfCellL {
    grid-column: 1 / span 1;
}

.textGrid .halfCellR {
    grid-column: 2 / span 1;
}

.textGrid .rowButton {
    grid-column: 3 / span 1;
    cursor: pointer;
    font-size: 1.8em;
    color: #444;
}

form .checkboxGrid {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 15px;
}

form .checkboxGrid .inputContainer {
    grid-column: 1 / span 1;
    text-align: right;
}

.checkboxGrid .inputContainer input{
        width: 15px;
        height: 15px;
        margin: 10px;
    }

form .checkboxGrid .textContainer{
    grid-column: 2 / span 1;
    vertical-align: middle;
}

form .checkboxGrid .textContainer p {
    margin-top: 10px;
    margin-bottom: 0;
}

form .smallNote {
    font-size: 0.8em;
    margin-top: 0.5em !important;
    text-align: center !important;
}

.submitButton {
    width: 100%;
    margin-top: 16px;
    text-align: center;
}

.submitButton input{
    font-size: 1.2em;
    padding: 5px;
    cursor: pointer;
}

.page .section form hr{
	width: 100%;
	border: 1px solid darkgrey;
    text-align: center;
	margin: 10px auto !important;
    grid-column: 1 / span 2;
}


form .nSection{
	margin: 0;
}

/*Tablet*/
@media only screen and (max-width: 1000px) {    
    .checkboxGrid .inputContainer input{
        width: 40px;
        height: 40px;
        margin: 20px;
    }
    
    form .checkboxGrid .textContainer p {
        margin-top: 20px;
    }
    
    .submitButton input{
        padding: 15px;
    }
}