a{
	color: inherit;
	text-decoration: inherit;
}

body{
	width: 100%;
	font-family: Roboto, sans-serif;
}

header{
	width: 100%;
}

nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*height: 75px;*/
	background-color: rgba(0,0,0,0.4);
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	z-index: 3;
}

nav img{
	margin-left: 15px;
}

nav ul{
	float: right;
	color: #fff;
	font-size: 17px;
	margin-right: 15px;
}

nav li{
	padding: 29px 12px;
	float: left;
}

nav i{
	padding: 0 12px;
	float: left;
}

footer{
	padding: 10px 20px;
	-webkit-user-select: none;
	font-weight: bold;
	color: #5b5b5b;
	text-align: center;
}

.fa{
	cursor: pointer;
}

/*Parallax background*/
.parallax {
	/* Full height */
	height: 100vh;
	min-height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax h2{
	padding-top: 210px;
	text-align: center;
	font-family: 'Oswald', serif;
	font-size: 5em;
	color: #fff;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
	line-height: 120%;
}

.halfSection{
	width: 49%;
	display: inline-block;
}

.rightAlign{
	text-align: right;
}

.leftAlign{
	text-align: left;
}

.clearBoth{
	clear: both;
}

.buttons{
	width: 100%;
	padding-top: 60px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
}

.button{
	display: inline-block;
	border: 4px solid white;
	border-radius: 2px;
	padding: 12px;
	margin: 12px;
	cursor: pointer;
}

#menuClose{
	display: none;
}

#mainMenu{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #242424;
	color: #fff;
	padding: 20px;
	z-index: 2;
	display: none;
	text-align: center;
}

#mainMenu .menuColumn{
	display: inline-block;
	float: left;
}

#mainMenu section{
	display: block;
	margin: 0 50px 30px 0;
	line-height: 150%;
	text-align: left;
}

#mainMenu h3 {
	font-family: Poppins, sans-serif;
	text-transform: uppercase;
}

#mainMenu li {
	margin-left: 20px;
}

#mainHome{
	/* The image used */
	background-image: url('../img/IMG_0032.JPG');
}

#weekendsHome{
	/* The image used */
	background-image: url('../img/IMG_0973.JPG');
}

#adultHome{
	/* The image used */
	background-image: url('../img/IMG_2349.JPG');
}
	
#studentsHome{
	/* The image used */
	background-image: url('../img/IMG_1643.JPG');
}
	
#serveHome{
	/* The image used */
	background-image: url('../img/IMG_0001.JPG');
}

#floatingFooter{
	width: 100%;
	/*height: 75px;*/
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	text-align: center;
	-webkit-user-select: none;
}

#floatingFooter ul{
	color: #fff;
	font-size: 17px;
	display: inline-block;
}

#floatingFooter li{
	padding: 20px 40px;
	display: inline-block;
	cursor: pointer;
}

#floatingFooter i{
	color: #fff;
	padding: 20px 60px;
	display: inline-block;
	cursor: pointer;
	float: right;
}

#footerIcons i{
	padding: 10px;
	font-size: 2em;
}

#leftFooter{
	padding: 10px 10px 30px 10px;
	float: left;
}

#rightFooter{
	padding: 10px 10px 30px 10px;
	float: right;
}

/*^^ Desktop ^^*/

/*Tablet*/
@media only screen and (max-width: 1024px) {
	header{
		padding-left: 10px;
	}
}

/*Phone - Landscape*/
@media only screen and (max-width: 600px) {
	
}

/*Phone - Portrait*/
@media only screen and (max-width: 480px) {
	
}
