html{
	min-height: calc(100vh + 1px);
}

a{
	color: inherit;
	text-decoration: inherit;
}

b{
	font-weight: bold;
}

body{
	font-family: Roboto, sans-serif;
	text-align: center;
	color: #505050;
}

header{
	color: #fff;
}

.accentColor1{
	color: #c59101;
}

.accentColor1bg {
	background-color: #b08100;
	color: #fff;
}

.accentColor1hb{
	border: 4px solid #c59101 !important;
	color: #c59101 !important;
}

.accentColor2{
	color: #505050;
}

.accentColor2bg {
	background-color: #505050;
	color: #fff;
}

.accentColor2hb{
	border: 4px solid #505050 !important;
	color: #505050 !important;
}

.link{
    color: #c59101;
    text-decoration: underline;
}


.accentBorders{
	border-top: 4px solid #5b5b5b;
	border-bottom: 4px solid #5b5b5b;
}

.fa{
	cursor: pointer;
}

/* Navigation Bar */
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    min-width: 310px;
	max-height: 75px;
	background-color: rgba(0,0,0,0.4);
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	z-index: 6;
	overflow: auto;
}

nav img{
	margin-left: 15px;
	float: left;
}

nav ul{
	float: right;
	font-size: 17px;
	margin-right: 15px;
}

nav li{
	padding: 29px 12px;
	float: left;
}

nav i{
	padding: 0 12px;
	float: left;
}

/* Menu */
#menuClose{
	display: none;
}

#mainMenu{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #242424;
	padding: 20px;
	z-index: 5;
	display: none;
}

#mainMenu .menuColumn{
	display: inline-block;
	vertical-align: top;
}

#mainMenu .section{
	display: block;
	margin: 0 50px 30px 0;
	line-height: 150%;
	text-align: left;
    position: relative;
}

#mainMenu h1 {
	font-family: Poppins, sans-serif;
	text-transform: uppercase;
}

#mainMenu li {
	margin-left: 20px;
}

/* Page Sections */
.page .section{
	/* Full height */
	min-height: 100vh;
	/*min-height: fit-content;*/
}

.parallax {
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}

.page .section h1{
	padding: 60px 0;
	font-family: 'Oswald', serif;
	font-size: 3.5em;
	font-weight: bold;
	letter-spacing: 4px;
	line-height: 120%;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.page .section .h1map{
	margin-bottom: 0;
}

.page .vc h1{
	padding-bottom: 30px;
	padding-top: calc(50vh - 170px);
	font-size: 5em;
	font-weight: bold;
	letter-spacing: 4px;
	margin-bottom: 0;
}

#mainHome h1, .h1{
	padding-top: calc(50vh - 200px);
}

.page .section h2, .h2{
	padding: 20px 0;
	font-family: 'Oswald', serif;
	font-size: 2em;
	line-height: 120%;
	font-weight: bold;
	letter-spacing: 4px;
	text-transform: uppercase;
}

.page .section h3, .h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.2em;
	line-height: 120%;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 0 20px 15px 20px;
}

.page .section h4, .h4 {
	font-size: 1.1em;
	line-height: 120%;
	margin: 0 20px 15px 20px;
    font-weight: bold;
}

.page .section h5, .h5 {
	font-weight: bold;
	margin: 0 20px 15px 20px;
}

.page .section .sectionButton{
	padding: 60px 0;
	cursor: pointer;
	margin: 0;
}

.page .section p {
	line-height: 120%;
	margin: 0 20px 15px 20px;
	text-align: left;
}

.page .section p a {
	text-decoration: underline;
}

.page .section blockquote {
	line-height: 120%;
	margin: 0 20px 20px 20px;
	font-style: italic;
	font-size: 1.1em;
}

.page .section blockquote a {
	text-decoration: underline;
}

.page .section ul {
	list-style-type: square;
	margin: 0 20px 15px 20px;
	padding-left: 1.25em;
	text-align: left;
}

.page .section li {
	line-height: 120%;
	margin: 0 0 .5em 0;
}

.page .section img {
	margin: 0 20px 15px 20px;
	width: 95%;
}

.page .section .imgTile {
	margin: 0 20px 20px 20px;
	width: 15%;
	min-width: 175px;
	display: inline-block;
}

#map {
	height: 50vh;
	width: 100%;
}

#newsletter {
	height: 50vh;
    width: 100%;
}

#calendar {
	height: 50vh;
	width: 100%;
    padding: 10px 0;
}

#giveWindow {
    min-height: 1050px;
	width: 100%;
    overflow:scroll;
    overflow-x: hidden;
}

.playlist {
	width: 90%;
    height: 35vh;
}

.imgTile * {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.navbarSpacer{
	height: 75px;
}

.halfSection{
	width: 50%;
	display: inline-block;
	/*border: 1px dotted red;*/
	vertical-align:top;
	margin: 0 0 20px 0;
}

.thirdSection{
	width: 33.33%;
	display: inline-block;
	/*border: 1px dotted red;*/
	vertical-align:top;
	margin: 0 0 20px 0;
}

.quarterSection{
	width: 25%;
	display: inline-block;
	/*border: 1px dotted red;*/
	vertical-align:top;
	margin: 0 0 20px 0;
}

.twothirdSection{
	width: 66.66%;
	display: inline-block;
	/*border: 1px dotted red;*/
	vertical-align:top;
	margin: 0 0 20px 0;
}

.nSection{
	width: 90%;
	display: inline-block;
	/*border: 1px dotted red;*/
	vertical-align:top;
	margin: 0 0 20px 0;
}

.nSection * {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.page .section hr{
	width: 90%;
	border: 1px solid;
    text-align: center;
	margin: 8px auto !important;
}

.nSection .halfSection, .nSection .thirdSection, .nSection .quarterSection{
	margin: 0;
}

.page .vc .halfSection, .page .vc .thirdSection, .page .vc .quarterSection{
	margin: 0;
}

.lightbox{
	display: none;
	width: 90vw;
	height: 0;
	margin: 50vh 0;
	position: fixed;
	top: 0;
	left: 5vw;
	overflow: auto;
	z-index: 4;
}

.lightboxClose{
	float: right;
	font-size:20px !important;
	margin: 10px 10px 0 0;
}

.lightbox .nSection {
	text-align: left;
}

.lightbox img {
	width: 175px !important;
	float: left;
	margin: 0 20px 15px 0 !important;
}

#lightboxBack{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(0,0,0,0.8);
	display: none;
	cursor: default;
}

.spacer{
	height: 40px;
}

.rightAlign{
	text-align: right;
}

.leftAlign{
	text-align: left;
}

.centerAlign{
	text-align: center !important;
}

.clearBoth{
	clear: both;
}

.buttons{
	width: 100%;
	text-align: center;
}

.button{
	display: inline-block;
	border: 4px solid white;
	border-radius: 2px;
	padding: 12px;
	margin: 12px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	text-transform: uppercase;
}

#homepage .button{
    /*background-color: rgba(0,0,0,0.4);*/
}

/* Pages */
#missionpage, #sundayspage, #adultspage, #newgenpage, #givepage, #servepage, #resourcespage, #covidpage{
	display: none;
}

/* Background Images */
#mainHome{background-image: url('../img/banners/Building_Tower_3s.jpg');}
#weekendsHome{background-image: url('../img/banners/DSC_0091%20copy.JPG');}
#adultHome{background-image: url('../img/banners/DSC_0108.JPG');}
#newgenHome{background-image: url('../img/banners/DSC_0498%20copy.JPG');}
#serveHome{background-image: url('../img/banners/IMG_6052.jpg');}
.missionBanner{background-image: url('../img/banners/DSC_0025%20copy.JPG');}
.sundaysBanner{background-image: url('../img/banners/DSC_0091%20copy.JPG');}
.adultsBanner{background-image: url('../img/banners/DSC_0108.JPG');}
.studentsBanner{background-image: url('../img/banners/DSC_0940%20copy.JPG');}
.newgenBanner{background-image: url('../img/banners/DSC_0498%20copy.JPG');}
.giveBanner{background-image: url('../img/banners/DSC_0104%20copy.JPG');}
.serveBanner{background-image: url('../img/banners/IMG_6052.jpg');}
.resourcesBanner{background-image: url('../img/banners/DSC_0071%20copy.JPG');}
.contactBanner{background-image: url('../img/banners/DSC_0101.JPG');}

/* Floating Footer */
.floatingFooter{
	width: 100%;
	max-height: 57px;
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	bottom: 0;
	left: 0;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	-webkit-user-select: none;
	display: none;
	color: #fff;
	overflow: auto;
	z-index: 2;
}

.floatingFooter ul{
	font-size: 17px;
	display: inline-block;
}

.floatingFooter li{
	padding: 20px 40px;
	display: inline-block;
	cursor: pointer;
}

.floatingFooter i{
	padding: 20px 60px;
	display: inline-block;
	cursor: pointer;
	float: right;
}

#homepageFooter{
	display: initial;
}

/* Footer */
footer{
	padding: 10px 20px;
	-webkit-user-select: none;
	font-weight: bold;
}

#footerIcons i{
	padding: 10px;
	font-size: 2em;
}

#leftFooter{
	padding: 10px 10px 30px 10px;
	float: left;
}

#rightFooter{
	padding: 10px 10px 30px 10px;
	float: right;
}

/* ^^ Desktop ^^ */

/*Tablet*/
@media only screen and (max-width: 1000px) {
	header{
		padding-left: 10px;
	}
    
    .navPageLink{
        display: none;
    }
    
    /* Navigation Bar */
    nav{
        max-height: 95px;
    }

    nav ul{
        font-size: 35px;
    }

    nav i{
        padding: 0 25px;
    }
    
    .navPageLink{
        display: none;
    }
}

/*Phone - Landscape*/
@media only screen and (max-width: 600px) {
	
}

/*Phone - Portrait*/
@media only screen and (max-width: 480px) {
	
}
