/* Variables */
:root{
    --color-bg: #fff;
    --color-fg: #444;
    --color-transparent-bg: rgba(0,0,0,0.4);
    /*--color-accent-color: #88dc00;*/
    --color-accent-color: #c59101;
    --color-accent-light: #5c5c5c;
    --color-accent-dark: #1a1a1a;
    --color-accent-dark-text: #fff;

    --main-bg-img: url("../img/banners/Building_Tower_3s.jpg");
    --main-bg-shadow: 0 8px 15px rgba(0,0,0,0.5);

    --button-border: 4px;
    --button-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    --corners: 2px;

    --base-font: 24px;
    --arrow-font: 90px;
    --navbar-img: 80px;
    --navbar-font: 40px;
    --navbar-margin: 10px;

    --grid-gap: 1.5em;
    --grid-padding: 0.8em;
}

/* Fonts */
/* @font-face {
    font-family: Clockwise;
    src: url("../fonts/Clockwise-FreeFont/clockwise_light.otf") format("opentype");
} */

/* Defaults */
html{
    min-height: 100vh;
    width: 100vw;
    background-color: var(--color-bg);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    color: var(--color-fg);
    font-size: var(--base-font);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* Typograpy */
h1{
    font-size: calc(3.0 * var(--base-font));
    font-family: 'Oswald', serif;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 120%;
    text-transform: uppercase;
    padding: calc(2.5*var(--base-font)) 0;
}

.subtitle{
    font-size: calc(1.2 * var(--base-font));
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 5px;
}

h2{
    font-size: calc(2.5 * var(--base-font));
    font-family: 'Oswald', serif;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 120%;
    text-transform: uppercase;
    padding: calc(2*var(--base-font)) 0;
}

h3{
    font-size: calc(1.4 * var(--base-font));
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 120%;
    padding: calc(1*var(--base-font)) 0;
}

h4{
    font-size: calc(1.2 * var(--base-font));
    line-height: 120%;
    font-weight: bold;
    padding: calc(0.8*var(--base-font)) 0;
}

h5{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    line-height: 150%;
    text-decoration: underline;
    padding: calc(0.6*var(--base-font)) 0;
}

h6{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    line-height: 150%;
    font-weight: bolder;
    padding: calc(0.6*var(--base-font)) 0;
}

a{
    color: var(--color-fg);
    text-decoration: none;
    cursor: pointer;
}

p{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    line-height: 120%;
    padding-bottom: calc(0.6 * var(--base-font));
}

ul{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    line-height: 150%;
    list-style-type: disc;
    list-style-position: outside;
    padding-left: calc(2 * var(--base-font));
    padding-bottom: calc(0.6 * var(--base-font));
}

ul > li{
    padding-bottom: calc(0.2 * var(--base-font));
}

.tall-li > li{
    padding-bottom: calc(0.6 * var(--base-font));
}

blockquote{
    text-align: center;
    font-style: italic;
    font-size: calc(1 * var(--base-font));
    line-height: 120%;
    padding: calc(0.6 * var(--base-font));
}

.fine-print{
    font-size: calc(0.6 * var(--base-font));
    padding-top: calc(0.5 * var(--base-font));
    padding-bottom: calc(1.0 * var(--base-font));
}

.align-center{
    text-align: center;
}

.align-left{
    text-align: left;
}

.clear-both{
    clear: both;
}

p a{
    color: var(--color-accent-color);
    text-decoration: underline;
}

/* Page Elements */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - 2 * var(--navbar-margin));
    font-size: var(--navbar-font);
    padding: var(--navbar-margin);
    z-index: 3;
}

nav img, footer img{
    height: var(--navbar-img);
    width: initial !important;
}

nav .icon-spacer{
    display: inline-block;
    width: calc(1.5 * var(--base-font));
}

nav .nav-link{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--color-accent-dark-text);
}

#menu-close{
    display: none;
}

#main-menu{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    box-shadow: var(--main-bg-shadow);
    background-color: var(--color-accent-dark);
}

#main-menu a{
    display: block;
    padding: calc(1 * var(--navbar-margin)) 0;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: var(--color-accent-dark-text);
}

#main-menu .social-icon{
    display: inline-block;
    padding: calc(1 * var(--navbar-margin)) calc(0.5 * var(--base-font));
}

#sidebar-container{
    position: relative;
}

#sidebar{
    width: max-content;
    position: relative;
    top: 0;
    padding: calc(2 * var(--grid-padding));
    z-index: 1;
}

#sidebar ul{
    text-align: left;
    font-size: calc(1 * var(--base-font));
    font-weight: lighter;
    line-height: 150%;
    list-style-type: disc;
    list-style-position: inside;
}

#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5{
    padding-bottom: 0;
}

#sidebar > ul > li{
    padding-top: calc(0.5 * var(--base-font));
}

#sidebar ul > li > ul{
    padding-left: calc(1.5 * var(--base-font));
}

section{
    width: 100%;
}

.fullscreen {
    height: 100vh;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: none;
}

.bg-home{background-image: var(--main-bg-img);}
.bg-sundays{background-image: url('../img/banners/DSC_0091%20copy.JPG');}
.bg-adults{background-image: url('../img/banners/DSC_0108.JPG');}
.bg-newgen{background-image: url('../img/banners/DSC_0498%20copy.JPG');}
.bg-serve{background-image: url('../img/banners/IMG_6052.jpg');}
.bg-mission{background-image: url('../img/banners/DSC_0025%20copy.JPG');}
.bg-stream{background-image: url('../img/banners/IMG_20200418_145922.jpg')}

hr{
    width: 35%;
    border-top: 6px solid var(--color-accent-light);
    margin: calc(0*var(--base-font)) auto;
    grid-column: span 12;
}

.hr-wide{
    width: 90%;
    border-top: 3px solid var(--color-accent-light);
}

#home hr{
    border-color: var(--color-accent-color);
}

footer{
    width: 98%;
}

footer .social-icon{
    display: inline-block;
    padding: 0 calc(0.5 * var(--base-font)) calc(2 * var(--navbar-margin)) calc(0.5 * var(--base-font));
    font-size: var(--navbar-font);
}

footer div{
    font-size: calc(0.8 * var(--base-font));
    padding: var(--navbar-margin);
}

.spacer {
    height: 1em;
    grid-column: span 12;
}

.spacerX2 {
    height: 2em;
    grid-column: span 12;
}

.spacerX3 {
    height: 3em;
    grid-column: span 12;
}

.nav-spacer {
    height: calc(var(--navbar-img) + 2 * var(--navbar-margin) + 1em);
    grid-column: span 12;
}

/* Grids */
.grid{ /* General */
    width: 80%;
    margin: 0 auto;
    padding-bottom: var(--grid-gap);
    display: grid;
    --col: calc((100% - 11 * var(--grid-gap))/12);
    grid-template-columns: var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col) var(--col);
    grid-gap: var(--grid-gap);
}

.grid-cell-full{grid-column: span 12; display: inline-block;}
.grid-cell-half{grid-column: span 6; display: inline-block;}
.grid-cell-third{grid-column: span 4; display: inline-block;}
.grid-cell-twothirds{grid-column: span 8; display: inline-block;}
.grid-cell-quarter{grid-column: span 3; display: inline-block;}
.grid-cell-sixth{grid-column: span 2; display: inline-block;}

.lcr{ /* Left-center-right */
    display: grid;
    grid-template-columns: max-content auto max-content;
}

.lcr > div{width: 100%}
.lcr > div:nth-child(1){text-align: left;}
.lcr > div:nth-child(3){text-align: right;}

.vertical-center{ /* Vertical center with bottom caption */
    height: 100%;
    display: grid;
    grid-template-rows: auto min-content auto min-content;
}

.vc-spacer{
    line-height: 0;
}

/* Content */
img{
    width: 100%;
}

.button {
    width: calc(100% - var(--base-font));
    padding: var(--grid-padding);
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    box-shadow: var(--button-shadow);
    border-radius: var(--corners);
    font-size: calc(1.0 * var(--base-font));
}

.float-button {
    width: 70%;
    display: inline-block;
    padding: var(--grid-padding);
    margin: calc(0.5 * var(--base-font));
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    box-shadow: var(--button-shadow);
    border-radius: var(--corners);
    font-size: calc(1.0 * var(--base-font));
}

.button > i{
    font-size: calc(1.4 * var(--base-font));
    padding-bottom: var(--grid-padding);
}

.card {
    width: 100%;
    box-shadow: var(--button-shadow);
    border-radius: var(--corners);
}

.card .photo{
    border-radius: var(--corners) var(--corners) 0 0;
    padding-bottom: var(--grid-padding);
}

.card .logo{
    width: 80%;
}

.card p, .card h4, .card h5{
    padding-left: var(--grid-padding);
}

/* Colors */
.accent-color{color: var(--color-accent-color);}
.accent-light{color: var(--color-accent-light);}
.accent-dark{color: var(--color-accent-dark);}
.accent-text{color: var(--color-accent-dark-text);}
.bg-default{background-color: var(--color-bg);}
.bg-color{background-color: var(--color-accent-color);}
.bg-light{background-color: var(--color-accent-light);}
.bg-dark{background-color: var(--color-accent-dark);}
.bg-transparent{background-color: var(--color-transparent-bg);}
.border-color{border: var(--button-border) solid var(--color-accent-color);}
.border-light{border: var(--button-border) solid var(--color-accent-light);}
.border-dark{border: var(--button-border) solid var(--color-accent-dark);}
.border-dark-text{border: var(--button-border) solid var(--color-accent-dark-text);}
.border-bottom-color{border-bottom: var(--button-border) solid var(--color-accent-dark);}
.border-bottom-light{border-bottom: var(--button-border) solid var(--color-accent-light);}
.border-bottom-dark{border-bottom: var(--button-border) solid var(--color-accent-dark);}

.shadow1{box-shadow: var(--button-shadow);}
.shadow2{box-shadow: var(--main-bg-shadow);}

/* Video Playlists */
.playlistContainer {
    width: 90%;
    padding-top: 56.25%;
    height: 0;
    position: relative;
}

.playlist {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 5.56%;
    box-shadow: var(--button-shadow);
}

/* Lightboxes */
.lightbox{
    display: none;
    width: 90vw;
    height: 0;
    margin: 50vh 0;
    position: fixed;
    top: 0;
    left: 5vw;
    overflow: auto;
    z-index: 4;
}

.lightboxClose{
    float: right;
    font-size:20px !important;
    margin: 10px 10px 0 0;
}

.lightbox img {
    width: 175px !important;
    float: left;
    margin: 10px 20px 15px 0 !important;
}

.lightbox .side-margins{
    margin: 0 30px;
}

#lightboxBack{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0,0,0,0.8);
    display: none;
    cursor: default;
}

/* Embedded Stuff */
#embedded-map {
    height: 75vh;
    width: calc(100% - 20px);
}

#embedded-newsletter {
    height: 65vh;
    width: calc(100% - 20px);
}

#embedded-calendar {
    height: 65vh;
    width: calc(100% - 20px);
    padding: 10px 0;
}

/* Mobile ONLY */
@media only screen and (max-width: 999px) {
    .hide-on-mobile {
        display: none !important;
    }
}

/* Desktop */
@media only screen and (min-width: 1000px) {
    :root{
        --base-font: 16px;
        --arrow-font: 45px;
        --navbar-img: 75px;
        --navbar-font: 18px;
        --navbar-margin: 5px;
        --corners: 2px;
        --grid-gap: 3em;
    }

    .grid-cell-full-desktop{grid-column: span 12; display: inline-block;}
    .grid-cell-half-desktop{grid-column: span 6; display: inline-block;}
    .grid-cell-third-desktop{grid-column: span 4; display: inline-block;}
    .grid-cell-twothirds-desktop{grid-column: span 8; display: inline-block;}
    .grid-cell-quarter-desktop{grid-column: span 3; display: inline-block;}
    .grid-cell-sixth-desktop{grid-column: span 2; display: inline-block;}

    h1{font-size: calc(5 * var(--base-font));}

    nav {
        width: calc(100vw - 2 * var(--navbar-margin) - 20px);
        padding-right: calc(var(--navbar-margin) + 20px);
    }

    hr{border-top: 4px solid var(--color-accent-light);}

    .float-button {width: initial;}

    .fine-print{font-size: calc(0.8 * var(--base-font));}

    .hide-on-desktop{
        display: none !important;
    }
}