<div class="spacer hide-on-mobile">&nbsp;</div>
<img class="hide-on-mobile" alt="LOD Logo" src="../img/Light_of_the_Desert_15_G75T.png" /><br/>
<div class="spacer hide-on-mobile">&nbsp;</div>
<a class="social-icon" href="https://www.youtube.com/channel/UCtulWXDIu4LtzFI-QgIIKnA" title="YouTube" target="_blank"><i class="fab fa-youtube"></i></a>
<a class="social-icon" href="https://www.facebook.com/lightofthedesertlutheran/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
<div class="hide-on-mobile">
    <div class="lcr">
        <div>© 2022 Light of the Desert Lutheran Church | Member LCMC</div>
        <div>&nbsp;</div>
        <div>33175 N Cave Creek Road | Cave Creek, AZ | 85331 | <a href="tel:480-488-2716">480-488-2716</a></div>
    </div>
</div>