<img alt="LOD Logo" src="../img/Light_of_the_Desert_15_G75T.png" />
<br/>
<div id="footerIcons">
    <a href="https://www.youtube.com/channel/UCtulWXDIu4LtzFI-QgIIKnA" target="_blank"><i class="fa fa-youtube-play"></i></a>
    <a href="https://www.facebook.com/lightofthedesertlutheran/" target="_blank"><i class="fa fa-facebook-f"></i></a>
</div>
<div id="leftFooter">© 2020 Light of the Desert Lutheran Church | Member LCMC</div>
<div id="rightFooter">33175 N Cave Creek Road | Cave Creek, AZ | 85331 | 480-488-2716</div>