<div class="nav-spacer">&nbsp;</div>
<div class="grid">
    <div class="grid-cell-full">
        <a href="../index.html">Home</a>
    </div>
    <div class="grid-cell-half">
        <a href="../about/index.html">About</a>
        <a href="../visit/index.html">Visit</a>
        <a href="../stream/index.html">Stream</a>
    </div>
    <div class="grid-cell-half">
        <a href="../connect/index.html">Connect</a>
        <a href="../serve/index.html">Serve</a>
        <a href="../give/index.html">Give</a>
    </div>
</div>