<div class="vertical-center">
    <div class="vc-spacer">&nbsp;</div>
    <div>
        <a href="../index.html#home" title="Home"><img alt="LOD Logo" src="../img/Light_of_the_Desert_15_W75T.png"/></a>
    </div>
    <div class="vc-spacer">&nbsp;</div>
    <div class="vc-spacer">&nbsp;</div>
</div>
<div>&nbsp;</div>
<div class="vertical-center">
    <div class="vc-spacer">&nbsp;</div>
    <div>
        <a class="nav-link hide-on-mobile" href="../about/index.html">About</a>
        <div class="icon-spacer hide-on-mobile">&nbsp;</div>
        <a class="nav-link hide-on-mobile" href="../visit/index.html">Visit</a>
        <div class="icon-spacer hide-on-mobile">&nbsp;</div>
        <a class="nav-link hide-on-mobile" href="../stream/index.html">Stream</a>
        <div class="icon-spacer hide-on-mobile">&nbsp;</div>
        <a class="nav-link hide-on-mobile" href="../connect/index.html">Connect</a>
        <div class="icon-spacer hide-on-mobile">&nbsp;</div>
        <a class="nav-link hide-on-mobile" href="../serve/index.html">Serve</a>
        <div class="icon-spacer hide-on-mobile">&nbsp;</div>
        <a class="nav-link hide-on-mobile" href="../give/index.html">Give</a>
        <div class="icon-spacer hide-on-mobile">&nbsp;</div>
        <a class="nav-icon" href="https://www.youtube.com/channel/UCtulWXDIu4LtzFI-QgIIKnA" title="YouTube" target="_blank"><i class="fab fa-youtube accent-text"></i></a>
        <div class="icon-spacer">&nbsp;</div>
        <a class="nav-icon" href="https://www.facebook.com/lightofthedesertlutheran/" title="Facebook" target="_blank"><i class="fab fa-facebook-f accent-text"></i></a>
        <div class="icon-spacer">&nbsp;</div>
        <a class="nav-icon hide-on-desktop" href="javascript:openMenu();"><i class="fas fa-bars accent-color" id="menu-open"></i></a>
        <a class="nav-icon hide-on-desktop" href="javascript:closeMenu();"><i class="fas fa-times accent-color" id="menu-close"></i></a>
        <div class="icon-spacer hide-on-desktop">&nbsp;</div>
    </div>
    <div class="vc-spacer">&nbsp;</div>
    <div class="vc-spacer">&nbsp;</div>
</div>